@use '../theme/color';
@use '../utilities/breakpoint';

$checkbox_size: 20px;
$position_left: 15px;

%icon_position {
    position: absolute;
    left: $position_left;

    @include breakpoint.RWD(breakpoint.$pad_horizontal) {
        left: 25px;
    }
}

input {
    &[type="checkbox"] {
        display: none;
    }
}

label {
    margin-bottom: 0;

    &.completed_checkbox {
        @extend %icon_position;
        width: $checkbox_size;
        height: $checkbox_size;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        background-color: white;
        color: white;

        &.clicked{
            background-color: color.$main_color;
            color: white;
        }
    }

    &.star_mark{
        margin-bottom: 0;
        color: color.$primary_font_color;
        &.clicked{
            color: color.$highlight_icon_color;
        }
    }
    &.edit_icon {
        &.clicked{
            color: color.$main_color;
        }
    }
}