@use '../theme/color';
@use '../utilities/breakpoint';

$checkbox_size: 20px;
$position_left: 15px;

%icon_position {
    position: absolute;
    left: $position_left;

    @include breakpoint.RWD(breakpoint.$pad_horizontal) {
        left: 25px;
    }
}

input[type="checkbox"]{
    display: none;
}

label{
    margin-bottom: 0;
}

label[for="status"]{
    @extend %icon_position;
    width: $checkbox_size;
    height: $checkbox_size;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    background-color: white;
    color: white;
}

input#priority,input#edit {
    display: none;
}

label[for="priority"],label[for="edit"] {
    margin-bottom: 0;
    color: color.$primary_font_color;
}

input#priority:checked+label {
    color: color.$highlight_icon_color;
}
input#edit:checked+label {
    color: color.$main_color;
}

.completed_checkbox {

    &:checked#status+label {
        background-color: color.$main_color;
        color: white;

    }

}