$main_color: #4A90E2;
///////
$primary_background_color: #e1e1e1;
$secondary_background_color: #f2f2f2;
///////
$primary_font_color: #000000;
$secondary_font_color: #c8c8c8;
///////
$primary_icon_color: #000000;
$secondary_icon_color: #757575;
///////
$warning_color: #D0021B;
///////
$highlight_color: #FFF2DC;
$highlight_icon_color: #F5A623;
///////