<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <!-- 告知網頁使用utf8編碼（中文） -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- viewport語法 -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 設定ie相容模式 -->
    <title>jyuny1 todolist</title>
    <!-- 網頁名稱 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <!-- include fontawesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- include bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- include Vue.js -->
    <link rel="stylesheet" href="./css/main.css">
    <!-- include style.css -->
</head>

<body>

    <div id="app">
        <header>
            <nav class="task_status_navbar container">
                <button v-for="selector in selectButtons" :data-selector="selector.sort"
                    :class="{'focus-active': nowSelector===selector.sort}" @click="nowSelector=selector.sort"
                    :key="selector.title">{{ selector.title }}
                </button>
            </nav>
        </header>

        <main class="container">
            <button class="add_new_task" :class="{click: edit.isClick,'click-active':edit.isOpen}"
                @click="addNewTaskForm">+ Add Task
            </button>
            <form class="add_task_form"
                :class="{click: edit.isClick,'click-active':edit.isOpen,done:edittingTask.done,primary:edittingTask.primary}"
                @submit.prevent="submitNewTask">
                <div class="title_area">
                    <i @click="edittingTask.done=!edittingTask.done" data-use="done" class="fa-check completed_checkbox"
                        :class="{far:!edittingTask.done,clicked:edittingTask.done,fas:edittingTask.done}">
                    </i>
                    <input v-model="edittingTask.taskTitle" name="title" class="task_title"
                        :class="{warning:edit.emptyTitle}" type="text" :placeholder="placeholder">
                    <i @click="edittingTask.primary=!edittingTask.primary" data-use="primary" class="fa-star star_mark"
                        :class="{far:!edittingTask.primary,clicked:edittingTask.primary,fas:edittingTask.primary}">
                    </i>
                    <i @click="withDraw" class="fas fa-pen edit_icon clicked">
                    </i>
                </div>

                <div class="detail_area">
                    <div class="deadline">
                        <i class="icon far fa-calendar-alt"></i>
                        <div class="content_block">
                            <p>Deadline</p>
                            <div class="time_block">
                                <input v-model="edittingTask.deadlineDate" name="date" class="deadline_date"
                                    type="date">
                                <input v-model="edittingTask.deadlineTime" name="time" class="deadline_time"
                                    type="time">
                            </div>
                        </div>
                    </div>
                    <div class="file_update">
                        <i class="icon far fa-file"></i>
                        <div class="content_block">
                            <p>File</p>
                            <input @change="fileNameUpdate" id="file_update" name="update" type="file"
                                class="update_button" value="">
                            <span v-text="edittingTask.updateFile" class="file_name"></span>
                            <label for="file_update"></label>
                        </div>

                    </div>
                    <div class="memo">
                        <i class="icon far fa-comment-dots"></i>
                        <div class="content_block">
                            <p>Comment</p>
                            <textarea v-model="edittingTask.memo" name="memo_content"
                                placeholder="Type your memo here..."></textarea>
                        </div>
                    </div>

                </div>

                <div class="button_area">
                    <button @click="reset" type="reset" class="cancel_button">× Cancel</button>
                    <button type="submit" class="submit_button">+ Add Task</button>
                </div>
            </form>

            <div class="todo_list"
            @dragenter.prevent
            @dragover.prevent
            @drop="handleDrop">
                        <todo-item
                        v-for="(task,index) in sortedTasks"
                        @give-item-index="deleteCertainTask"
                        @start-dragging="getDraggedElement"
                        @drag-pass-by="getPassedElement"
                        @drag-is-end="initialData"
                        :index="index"
                        :task-list="task"
                        :drag-direction="dragEventData.isMoveDown"
                        :key="task.taskTitle+index">
                        </todo-item>           
            </div>
            <p class="left_tasks_numbers">{{countTasks}}</p>
    </main>
    </div>

    <script type="module" src="./script/main.js"></script>
</body>

</html>